<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encode</filter-name>
		<filter-class>com.filters.EncodeFilter</filter-class>
	</filter>
	<filter>
		<filter-name>dbfilter</filter-name>
		<filter-class>com.filters.DBFilter</filter-class>
	</filter>
	<filter>
		<filter-name>PageFilter</filter-name>
		<filter-class>com.filters.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encode</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>dbfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>RegServlet</servlet-name>
		<servlet-class>com.servlets.RegServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserUpdateServlet</servlet-name>
		<servlet-class>com.servlets.UserUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>
			com.servlets.ChangePasswordServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductAddServlet</servlet-name>
		<servlet-class>com.servlets.admin.ProductAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductListServlet</servlet-name>
		<servlet-class>
			com.servlets.admin.ProductListServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductViewServlet</servlet-name>
		<servlet-class>
			com.servlets.admin.ProductViewServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductUpdateServlet</servlet-name>
		<servlet-class>
			com.servlets.admin.ProductUpdateServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StorageAddServlet</servlet-name>
		<servlet-class>
			com.servlets.admin.StorageAddServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StorageSaveServlet</servlet-name>
		<servlet-class>
			com.servlets.admin.StorageSaveServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StorageListServlet</servlet-name>
		<servlet-class>
			com.servlets.admin.StorageListServlet
		</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>ProductListServletCmn</servlet-name>
    <servlet-class>com.servlets.common.ProductListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductViewServletCmn</servlet-name>
    <servlet-class>com.servlets.common.ProductViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductToCartServlet</servlet-name>
    <servlet-class>com.servlets.common.ProductToCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartViewServlet</servlet-name>
    <servlet-class>com.servlets.common.CartViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveItemServlet</servlet-name>
    <servlet-class>com.servlets.common.RemoveItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductBalanceServlet</servlet-name>
    <servlet-class>com.servlets.common.ProductBalanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderGenerateServlet</servlet-name>
    <servlet-class>com.servlets.common.OrderGenerateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.servlets.common.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <servlet-class>com.servlets.common.OrderConfirmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDeleteServler</servlet-name>
    <servlet-class>com.servlets.common.OrderDeleteServler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderViewServlet</servlet-name>
    <servlet-class>com.servlets.common.OrderViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <servlet-class>com.servlets.common.OrderUpdateServlet</servlet-class>
  </servlet>













	<servlet-mapping>
		<servlet-name>RegServlet</servlet-name>
		<url-pattern>/reg.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserUpdateServlet</servlet-name>
		<url-pattern>/common/userUpdate.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/common/changePasswd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductAddServlet</servlet-name>
		<url-pattern>/admin/productAdd.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductListServlet</servlet-name>
		<url-pattern>/admin/productList.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductViewServlet</servlet-name>
		<url-pattern>/admin/productView.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductUpdateServlet</servlet-name>
		<url-pattern>/admin/productUpdate.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StorageAddServlet</servlet-name>
		<url-pattern>/admin/storageAdd.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StorageSaveServlet</servlet-name>
		<url-pattern>/admin/storageSave.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StorageListServlet</servlet-name>
		<url-pattern>/admin/storageList.action</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductListServletCmn</servlet-name>
    <url-pattern>/common/productList.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductViewServletCmn</servlet-name>
    <url-pattern>/common/productView.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductToCartServlet</servlet-name>
    <url-pattern>/common/productToCart.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartViewServlet</servlet-name>
    <url-pattern>/common/cartView.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveItemServlet</servlet-name>
    <url-pattern>/common/removeItem.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductBalanceServlet</servlet-name>
    <url-pattern>/common/productBalance.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderGenerateServlet</servlet-name>
    <url-pattern>/common/orderGenerate.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/common/orderList.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <url-pattern>/common/orderConfirm.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDeleteServler</servlet-name>
    <url-pattern>/common/orderDelete.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderViewServlet</servlet-name>
    <url-pattern>/common/orderView.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <url-pattern>/common/orderUpdate.action</url-pattern>
  </servlet-mapping>

</web-app>
